
input::placeholder {
  color:black;
}
.bigButton {
  background-color: blue;
  color: white;
  margin: 1%;
}
.email{
  margin: 1%;
  margin-bottom: 5px;

}
.emailPanel{
  border-radius: 4px;
  background-image: url("../../assets/images/redGrad.jfif");
  background-size: 100%;
  border: 5px solid white;
}
.label{
  text-align: center;
  color: black;
  font-weight: bolder;
}
.eput{
  border: 2px solid black;
  color: black;
  margin: 1%;
}
