
input::placeholder {
  color:black;
  text-align: center;
  font-style: italic;
  font-size: 16px;
}
.panel{
  text-align: center;
  border-radius: 8px;
  justify-content: center;
  padding: 2%;
  border: 5px solid white;
}
.marg{
  margin: 1%;
}
.fire{
  height: 100%;
  width: 100%;
  background-size: 100%;
  background-image: url("../../assets/images/fire.jfif");
  opacity: 0.5;
}
.seperate{
  margin-right: 2%;
  margin-left: 2%;
  margin-top: 1%;
  font-size: 18px;
  font-weight: bolder;
}
.nonValid{
  background-image: url("../../assets/images/redGrad.jfif");
  background-size: 100%;
}
.exists{
  background-image: url("../../assets/images/yellowGrad.jpg");
  background-size: 100%;
}
.valid{
  background-image: url("../../assets/images/greenGrad.jfif");
  background-size: 100%;
}
.customerButton{
  text-align: center;
  margin-top: 5px;
  display: inline-flex;
  border-radius: 8px;
  border: 4px solid white;
  background-color: lightgreen;
  color: black;
}
.customerButton:hover{
  border: 4px solid orange;
  cursor: pointer;
}
.hidden{
  visibility: hidden;
}
.customerInput{
  display: inline-flex;
  border: 4px solid black;
  background-color: white;
  color: black;
  text-align: center;
}
.customerInput:hover{
  background-color: lightcoral;
}
.customerInput:focus{
  background-color: lightcoral;
}


