.logo{
  display: block;
  margin: 10px;
  width: 100%;
  height: 10%;
}
.innerImage{
  margin: 5px;
}
.background{
  position: fixed;
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-image: url("../assets/images/HEB.jpg");
  opacity: .8;
}
.blueOverlay{
  position: fixed;
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-image: url("../assets/images/rainbow.jpg");
  opacity: .6;}
.everything {
  border: 5px solid black;
  display: block;
  justify-content: center;
  position: fixed;
  height: 100%;
  width: 100%;
  padding: 1%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.slogan{
  font-size: 1vw;
  color: white;
  font-weight: bolder;
  padding-top: 5%;
}
.fullPage{
  width: 100%;
  display:block;
}
.signIn{
  background-color: white;
  margin-top: 5px;
}
.welcome{
  margin-top: 5px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.giant{
  font-size: 72px;
  font-weight: bolder;
  text-align: center;
  color: black;
}




